@import '/src/scss/utilities/color';
@import '/src/scss/utilities/mixins';
@import '/src/scss/utilities/variables';

.container {
    padding-top: 50px;

    .sidenav {
        position: fixed;
        padding-top: 50px;
        background-color: $white;
        cursor: pointer;

        .categories {
            text-align: center;
            padding: 0;

            h3 {
                font-size: $font-size-default;
                font-weight: $font-weight-normal;
                padding: 8px;

                &:hover {
                    background-color: $light-blue-tint;
                    color: $light-blue-shade;
                }
            }
        }
    }
}

@include media-queries('medium') {
    .container {
        padding-top: 20vh;

        .sidenav {
            padding-top: 20vh;
            .categories {
                h3 {
                    font-size: $font-size-medium;
                }
            }
        }
    }
}
