<mat-sidenav-container class="container">
    <mat-sidenav
        class="sidenav"
        [mode]="modeSideNav"
        [(opened)]="isSidenavOpened"
    >
        <mat-nav-list class="categories">
            <h3>Résumé</h3>
            <h3>Expériences<br />professionnelles</h3>
            <h3>Formations</h3>
            <h3>Etudes</h3>
            <h3>Hobbies</h3>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        LOREM IPSUM Queso goat smelly cheese. Chalk and cheese dolcelatte
        mascarpone stinking bishop rubber cheese when the cheese comes out
        everybody's happy ricotta ricotta. Cheesy grin lancashire who moved my
        cheese cheese and wine mascarpone pecorino rubber cheese chalk and
        cheese. Chalk and cheese cauliflower cheese blue castello say cheese
        fondue st. agur blue cheese feta cheesecake. The big cheese danish
        fontina cheese and biscuits paneer when the cheese comes out everybody's
        happy monterey jack pecorino ricotta. Cheddar fromage cheese slices when
        the cheese comes out everybody's happy port-salut cheesy feet pecorino
        squirty cheese. Hard cheese st. agur blue cheese cheese strings
        cauliflower cheese gouda monterey jack macaroni cheese blue castello.
        Feta parmesan mascarpone caerphilly cheese on toast brie edam cheese
        triangles. The big cheese st. agur blue cheese dolcelatte melted cheese
        cheesy feet say cheese stilton cauliflower cheese. Port-salut roquefort
        cauliflower cheese cream cheese swiss cream cheese cheese and biscuits
        cheesecake. Cheese strings babybel brie cheese and wine bavarian
        bergkase danish fontina. Cow smelly cheese paneer. Hard cheese red
        leicester jarlsberg who moved my cheese pecorino croque monsieur cheesy
        feet feta. Lancashire taleggio taleggio cream cheese fondue lancashire
        cheddar cheese triangles. Smelly cheese pepper jack swiss stinking
        bishop port-salut say cheese everyone loves who moved my cheese. Cottage
        cheese airedale gouda everyone loves edam cheesy grin halloumi cheesy
        feet. Paneer smelly cheese everyone loves cheeseburger edam cheese on
        toast cheese triangles roquefort. Airedale paneer jarlsberg jarlsberg
        everyone loves cheeseburger monterey jack cheeseburger. Taleggio cheesy
        feet cheesecake who moved my cheese cheesy feet everyone loves
        mascarpone camembert de normandie. Ricotta danish fontina emmental blue
        castello paneer cheese and biscuits croque monsieur manchego. Airedale
        camembert de normandie who moved my cheese paneer fondue roquefort
        jarlsberg manchego. Babybel port-salut cream cheese st. agur blue cheese
        gouda cauliflower cheese the big cheese when the cheese comes out
        everybody's happy. Bavarian bergkase danish fontina parmesan.
        Cauliflower cheese port-salut cream cheese. Roquefort rubber cheese
        pepper jack cream cheese jarlsberg macaroni cheese mozzarella the big
        cheese. Fromage dolcelatte stilton stinking bishop swiss rubber cheese
        boursin cheese and wine. Smelly cheese edam caerphilly cottage cheese
        cheeseburger cheesecake swiss roquefort. Say cheese camembert de
        normandie jarlsberg st. agur blue cheese smelly cheese fromage parmesan
        cheesy feet. Edam camembert de normandie brie cow fondue hard cheese
        feta hard cheese. Swiss roquefort cheese strings cheese triangles
        stinking bishop paneer dolcelatte smelly cheese. Danish fontina pepper
        jack stilton caerphilly swiss feta hard cheese feta. Brie mozzarella
        dolcelatte manchego cow cheesy feet cream cheese ricotta. Cheesy grin
        st. agur blue cheese. Fromage frais squirty cheese pecorino. Airedale
        queso airedale mozzarella cheese and biscuits cheese and biscuits cow
        cheesecake. Fromage emmental edam paneer airedale say cheese say cheese
        bavarian bergkase. Cheeseburger halloumi goat squirty cheese fondue
        taleggio cheese and wine fondue. Roquefort port-salut say cheese
        cheesecake cheese and biscuits dolcelatte camembert de normandie
        stinking bishop. Macaroni cheese cottage cheese hard cheese paneer
        cheese triangles taleggio taleggio parmesan. Parmesan roquefort cheesy
        grin hard cheese say cheese hard cheese croque monsieur danish fontina.
        St. agur blue cheese red leicester port-salut smelly cheese mascarpone
        cheeseburger cream cheese hard cheese. Paneer cheese and wine dolcelatte
        cheese and biscuits when the cheese comes out everybody's happy cheesy
        feet bavarian bergkase airedale. Cheesecake cheesy feet roquefort
        cauliflower cheese. Cheesecake boursin pepper jack. Pecorino cheesecake
        cottage cheese stilton everyone loves goat stinking bishop brie. Paneer
        cheese strings cheeseburger croque monsieur monterey jack melted cheese
        pecorino cow. Cheesy feet roquefort bocconcini swiss ricotta taleggio
        cheese slices cheesecake. Edam port-salut bocconcini cheesy grin babybel
        emmental manchego cheesy grin. Cheesy feet croque monsieur emmental
        cheese strings the big cheese chalk and cheese rubber cheese red
        leicester. Bavarian bergkase lancashire cheese and biscuits bocconcini
        chalk and cheese bocconcini when the cheese comes out everybody's happy
        smelly cheese. Taleggio stinking bishop babybel caerphilly smelly cheese
        fondue cheeseburger gouda. Cheeseburger taleggio mozzarella jarlsberg
        bocconcini lancashire red leicester bavarian bergkase. Swiss macaroni
        cheese ricotta goat cow cheesy feet mozzarella swiss. Edam cheeseburger
        cheese and biscuits stinking bishop cauliflower cheese camembert de
        normandie macaroni cheese babybel. Mascarpone goat gouda gouda cream
        cheese.
    </mat-sidenav-content>
</mat-sidenav-container>
