<mat-sidenav-container class="container">
    <mat-sidenav
        class="sidenav"
        [mode]="modeSideNav"
        [(opened)]="isSidenavOpened"
    >
        <mat-nav-list class="categories">
            <h3>Résumé</h3>
            <h3>Expériences<br />professionnelles</h3>
            <h3>Formations</h3>
            <h3>Etudes</h3>
            <h3>Hobbies</h3>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
