@import '/src/scss/utilities/color';
@import '/src/scss/utilities/mixins';
@import '/src/scss/utilities/variables';

.banner {
    background-color: $light-blue;
    display: flex;
    height: 50px;

    .button {
        background-color: $light-blue;
        border: none;
        width: 50px;
    }

    .details {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        width: 100%;

        .text-container {
            display: flex;
            flex-direction: column;

            p {
                color: $white;
            }

            :first-child {
                font-weight: $font-weight-semibold;
            }

            .separator {
                display: none;
            }
        }

        .photo {
            display: none;
        }

        .image {
            display: none;
        }

        .linkedin-icon {
            margin-left: auto;
            margin-right: 5px;
        }

        .github-icon {
            margin-right: 5px;
        }
    }
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

@include media-queries('medium') {
    .banner {
        height: 20%;

        .button {
            display: none;
        }

        .details {
            .text-container {
                margin-left: 3%;

                p {
                    font-size: $font-size-big;
                }
            }

            .photo {
                display: block;
                margin-left: auto;
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                border-color: $white;
                border-width: 4px;
                border-style: solid;
            }
        }
    }
}

@include media-queries('huge') {
    .banner .details .text-container {
        flex-direction: row;

        .separator {
            display: block;
        }
    }
}
