<!-- TODO : mettre prettier en place au passage ! Demander conseil Tiff ? Prendre un prettier de base pour le moment ? -->
<div class="banner">
    <button class="button">
        <img src="../../assets/hamburger-menu.svg" alt="Toggle menu" />
    </button>
    <div class="details">
        <p class="image">imageMoi avec ngIF</p>
        <div>
            <p>Bastien LAHAYE</p>
            <p>Développeur full stack</p>
        </div>
        <a
            class="linkedin-icon"
            href="https://www.linkedin.com/in/bastien-lahaye-15a233156/"
        >
            <img src="../../assets/linkedin.svg" alt="Linkedin" />
        </a>
        <a class="github-icon" href="https://github.com/law-millenium">
            <img src="../../assets/github.svg" alt="Github" />
        </a>
    </div>
</div>
