@import '/src/scss/utilities/color.scss';
@import '/src/scss/utilities/mixins.scss';
@import '/src/scss/utilities/variables.scss';

.banner {
    background-color: $light-blue;
    display: flex;
    height: 50px;
    // overflow-wrap: break-word;

    .button{
        background-color: $light-blue;
        border: none;
        width: 50px;
        
        .burger-icon{
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .details {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;

        .image{
            display: none;
        }
    }
}


@include media_queries('huge') {
    .banner {
        height: 25%;
    }
}
