<div class="banner">
    <button class="button" (click)="toggleMenu()">
        <img
            class="icon"
            src="../../assets/hamburger-menu.svg"
            alt="Affiche menu"
        />
    </button>
    <div class="details">
        <div class="text-container">
            <h1>Bastien LAHAYE</h1>
            <h1 class="separator">&nbsp;•&nbsp;</h1>
            <h2>Développeur full stack</h2>
        </div>
        <img class="photo" src="../../assets/photo-cv.png" alt="Photo CV" />
        <a
            class="icon linkedin-icon"
            href="https://www.linkedin.com/in/bastien-lahaye-15a233156/"
        >
            <img src="../../assets/linkedin.svg" alt="Lien Linkedin" />
        </a>
        <a
            class="icon github-icon"
            href="https://github.com/law-millenium?tab=repositories"
        >
            <img src="../../assets/github.svg" alt="Lien Github" />
        </a>
    </div>
</div>
