@import '/src/scss/utilities/color';
@import '/src/scss/utilities/mixins';
@import '/src/scss/utilities/variables';

.banner {
    background-color: $light-blue;
    display: flex;
    height: 50px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    .button {
        background-color: $light-blue;
        border: none;
        width: 50px;
    }

    .details {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        width: 100%;

        .text-container {
            display: flex;
            flex-direction: column;

            h1,
            h2 {
                color: $white;
                font-size: $font-size-default;
            }

            h2 {
                font-weight: $font-weight-normal;
            }

            .separator {
                display: none;
            }
        }

        .photo {
            display: none;
        }

        .image {
            display: none;
        }

        .linkedin-icon {
            margin-left: auto;
            margin-right: 5px;
        }

        .github-icon {
            margin-right: 5px;
        }
    }
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

@include media-queries('medium') {
    .banner {
        height: 20vh;

        .button {
            display: none;
        }

        .details {
            .text-container {
                margin-left: 3%;

                h1,
                h2 {
                    @media (orientation: portrait) {
                        font-size: $font-size-big;
                    }
                    @media (orientation: landscape) {
                        font-size: $font-size-medium;
                    }
                }
            }

            .photo {
                display: block;
                margin-left: auto;
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
                border-color: $white;
                border-width: 4px;
                border-style: solid;

                @media (orientation: landscape) {
                    width: 4rem;
                    height: 4rem;
                    border-width: 2px;
                }
            }

            .linkedin-icon {
                margin-right: 1.5%;
            }

            .github-icon {
                margin-right: 3%;
            }

            .icon {
                @media (orientation: portrait) {
                    width: 2.25rem;
                    height: 2.25rem;
                }
            }
        }
    }
}

@include media-queries('large') {
    .banner {
        height: 20vh;

        .button {
            display: none;
        }

        .details {
            .text-container {
                margin-left: 3%;

                h1,
                h2 {
                    font-size: $font-size-very-big;
                }
            }

            .photo {
                @media (orientation: landscape) {
                    width: 6rem;
                    height: 6rem;
                    border-width: 4px;
                }
            }

            .linkedin-icon {
                margin-right: 1%;
            }

            .icon {
                width: 3.5rem;
                height: 3.5rem;

                @media (orientation: landscape) {
                    width: 2.25rem;
                    height: 2.25rem;
                }
            }
        }
    }
}

@include media-queries('huge') {
    .banner .details .text-container {
        flex-direction: row;

        .separator {
            display: block;
        }
    }
}
