<mat-sidenav-container class="container" (backdropClick)="closeSidenav()">
    <mat-sidenav
        class="sidenav"
        [mode]="modeSideNav"
        [(opened)]="isSidenavOpened"
    >
        <mat-nav-list class="categories">
            @for (category of categories; track category) {
                <button
                    (click)="selectCategory(category)"
                    [ngClass]="{
                        selected: (currentCategory$ | async) === category
                    }"
                    [disabled]="
                        (currentCategory$ | async) === category &&
                        modeSideNav === 'side'
                    "
                >
                    {{ category }}
                </button>
            }
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        @switch (currentCategory$ | async) {
            @case ('Expériences professionnelles') {
                @for (
                    professionalExperience of professionalExperiences;
                    track professionalExperience
                ) {
                    <app-card [cardContent]="professionalExperience"></app-card>
                }
            }
            @case ('Formations') {
                @for (trainingCourse of trainingCourses; track trainingCourse) {
                    <app-card [cardContent]="trainingCourse"></app-card>
                }
            }
            @case ('Etudes') {
                @for (study of studies; track study) {
                    <app-card [cardContent]="study"></app-card>
                }
            }
            @case ('Hobbies') {
                @for (hobby of hobbies; track hobby) {
                    <app-card [cardContent]="hobby"></app-card>
                }
            }
            @default {
                <app-summary></app-summary>
            }
        }
    </mat-sidenav-content>
</mat-sidenav-container>
