<mat-sidenav-container class="container">
    <mat-sidenav
        class="sidenav"
        [mode]="modeSideNav"
        [(opened)]="isSidenavOpened"
    >
        <mat-nav-list class="categories">
            <button
                *ngFor="let category of categories"
                (click)="selectCategory(category)"
                [ngClass]="{
                    selected: (currentCategory$ | async) === category
                }"
            >
                {{ category }}
            </button>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-container [ngSwitch]="currentCategory$ | async">
            <ng-container *ngSwitchCase="'Expériences professionnelles'">
                <app-card
                    *ngFor="
                        let professionalExperience of professionalExperiences
                    "
                    [cardContent]="professionalExperience"
                ></app-card>
            </ng-container>
            <ng-container *ngSwitchCase="'Formations'">
                <app-card
                    *ngFor="let trainingCourse of trainingCourses"
                    [cardContent]="trainingCourse"
                ></app-card>
            </ng-container>
            <ng-container *ngSwitchCase="'Etudes'"> Etudes </ng-container>
            <ng-container *ngSwitchCase="'Hobbies'"> Hobbies </ng-container>
            <ng-container *ngSwitchDefault>
                <app-summary></app-summary>
            </ng-container>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
