// =============================================================================
// Fonts
// =============================================================================
@font-face {
    font-family: Raleway;
    src: url('../../assets/Raleway-Regular.ttf') format('ttf');
}

$font-family: 'Raleway', sans-serif !default;

// Sizes
$font-size-default: 1rem !default;
$font-size-medium: 1.75rem !default;
$font-size-big: 2.5rem !default;

// Weights
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

// =============================================================================
// Responsive breakpoints
// =============================================================================
$breakpoints: (
    'small': (
        min-width: 410px
    ),
    'medium': (
        min-width: 600px
    ),
    'large': (
        min-width: 992px
    ),
    'huge': (
        min-width: 1200px
    )
);
