<div class="card">
    <button
        [ngClass]="{
            unfolded: !isFolded
        }"
        (click)="toggleCard()"
    >
        <div class="title">
            <img
                *ngIf="cardContent.headingGifPath"
                class="heading-gif"
                src="{{ cardContent.headingGifPath }}"
                alt="Gif en-tête"
            />
            <h3 class="name">{{ cardContent.name }}</h3>
            <ng-container *ngIf="cardContent.period">
                <h3>&nbsp;•&nbsp;</h3>
                <h3 class="duration">{{ cardContent.period }}</h3></ng-container
            >
            <img
                *ngIf="cardContent.headingGifPath"
                class="heading-gif"
                src="{{ cardContent.headingGifPath }}"
                alt="Gif en-tête inversé"
            />
            <img
                class="chevron"
                [ngClass]="{
                    unfolded: !isFolded
                }"
                src="../../../assets/chevron.svg"
                alt="Bouton dépliement carte"
            />
        </div>
    </button>
    <ng-container *ngIf="!isFolded">
        <p class="description" [innerHTML]="cardContent.description"></p>

        <p class="skills" *ngIf="cardContent.skills.length > 0">
            <span class="bold">Compétences :</span>
            <span *ngFor="let skill of cardContent.skills; let isLast = last">
                {{ skill }} {{ isLast ? '' : '•' }}
            </span>
        </p>
    </ng-container>
</div>
