@import '/src/scss/utilities/color';
@import '/src/scss/utilities/mixins';
@import '/src/scss/utilities/variables';

.card {
    margin: 20px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px $gray;

    button {
        background-color: $white;
        width: 100%;
        padding: 0;
        cursor: pointer;

        &.unfolded {
            border-bottom: 2px solid $light-gray;
            padding-bottom: 5px;
        }

        .title {
            display: flex;
            flex-direction: row;
            line-height: 1.5rem;

            * {
                margin: auto 0;
                font-weight: $font-weight-normal;
            }

            .name {
                font-weight: $font-weight-bold;
            }

            .heading-gif {
                &:first-child {
                    margin-right: 3px;
                }

                &:nth-child(5) {
                    margin-left: 3px;
                    transform: scaleX(-1);
                }
            }

            .chevron {
                color: $gray;
                margin-left: auto;
                transition: transform 300ms ease-in-out;

                &.unfolded {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .description {
        margin-top: 10px;
        text-align: justify;
    }

    .skills {
        margin-top: 1rem;
        text-align: justify;

        .bold {
            font-weight: $font-weight-bold;
        }
    }
}

@include media-queries('medium') {
    .card {
        margin: 20px;

        button .title {
            .duration {
                margin-right: 5px;
            }

            @media (orientation: portrait) {
                line-height: 2.7rem;

                h3 {
                    font-size: $font-size-medium;
                }

                .heading-gif {
                    height: 55px;

                    &:first-child {
                        margin-right: 10px;
                    }

                    &:nth-child(5) {
                        margin-left: 10px;
                    }
                }

                .chevron {
                    height: 42px;
                }
            }
        }
    }
}

@include media-queries('large') {
    .card button .title {
        line-height: 2.7rem;

        h3 {
            font-size: $font-size-medium;
        }

        .heading-gif {
            height: 55px;

            &:first-child {
                margin-right: 10px;
            }

            &:nth-child(5) {
                margin-left: 10px;
            }
        }

        .chevron {
            height: 42px;
        }
    }
}

@include media-queries('huge') {
    .card {
        margin: 3%;
    }
}
