<div class="card">
    <button
        [ngClass]="{
            unfolded: !isFolded
        }"
        (click)="toggleCard()"
    >
        <div class="title">
            @if (cardContent.headingGifPath) {
                <img
                    class="heading-gif"
                    src="{{ cardContent.headingGifPath }}"
                    alt="Gif en-tête"
                />
            }
            <h3 class="name">{{ cardContent.name }}</h3>
            @if (cardContent.period) {
                <h3>&nbsp;•&nbsp;</h3>
                <h3 class="duration">{{ cardContent.period }}</h3>
            }
            @if (cardContent.headingGifPath) {
                <img
                    class="heading-gif"
                    src="{{ cardContent.headingGifPath }}"
                    alt="Gif en-tête inversé"
                />
            }
            <img
                class="chevron"
                [ngClass]="{
                    unfolded: !isFolded
                }"
                src="../../../assets/chevron.svg"
                alt="Bouton dépliement carte"
            />
        </div>
    </button>
    @if (!isFolded) {
        <p class="description" [innerHTML]="cardContent.description"></p>
        @if (cardContent.skills.length > 0) {
            <p class="skills">
                <span class="bold">Compétences :</span>
                @for (
                    skill of cardContent.skills;
                    track skill;
                    let isLast = $last
                ) {
                    <span> {{ skill }} {{ isLast ? '' : '•' }} </span>
                }
            </p>
        }
    }
</div>
