@import '/src/scss/utilities/mixins';
@import '/src/scss/utilities/variables';
@import '/src/scss/utilities/color';

p {
    margin: 10px;

    &:first-child {
        margin-top: 20px;
    }
}

ul {
    list-style-type: '\2705';

    li {
        padding-left: 5px;
        margin-bottom: 5px;
        margin-left: 3%;
    }
}

a {
    text-decoration: none;
    color: $linkedin-blue;
    font-weight: bold;

    &:hover {
        color: $red;
        text-decoration: underline;
    }
}

@include media-queries('medium') {
    p {
        margin: 20px;

        &:first-child {
            margin-top: 40px;
        }
    }
}
