@import '/src/scss/utilities/mixins';
@import '/src/scss/utilities/variables';
@import '/src/scss/utilities/color';

.summary {
    padding: 20px 10px 10px;

    p {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        list-style-type: '\2705';

        li {
            padding-left: 5px;
            margin-left: 3%;
        }
    }
}

@include media-queries('medium') {
    .summary {
        padding: 40px 20px 20px;

        p {
            margin-bottom: 20px;
        }
    }
}

@include media-queries('huge') {
    .summary {
        padding: 6% 3% 3%;
    }
}
