<div class="summary">
    <p>Bonjour !<span role="img" aria-label="waving-hand">👋 </span></p>
    <p>
        <span role="img" aria-label="internet">🌐 </span>Voici mon site-CV où
        vous pourrez en apprendre davantage sur mon parcours professionnel, mes
        compétences et mes passions.
    </p>
    <p>
        <span role="img" aria-label="target">🎯 </span>Je suis à la recherche
        d'un poste en tant que développeur full stack autour des technologies
        Angular, Java et/ou Node.js. Selon moi, le poste parfait a les qualités
        suivantes :
    </p>
    <ul>
        <li>
            Une bonne ambiance générale et des évènements de temps en temps.
        </li>
        <li>Une priorisation sur la qualité plutôt que le budget.</li>
        <li>Une entreprise ayant envie d'évoluer.</li>
        <li>Du télétravail régulier.</li>
        <li>De la formation.</li>
        <li>Des perspectives d'évolution.</li>
    </ul>
    <p>
        <span role="img" aria-label="train">🚄 </span>Je recherche un poste en
        full remote mais je suis tout à fait ouvert à aller sur site 2 ou 3
        jours par sprint.
    </p>
    <p>
        <span role="img" aria-label="mailbox">📬 </span> Merci pour votre temps,
        n'hésitez pas à me contacter via
        <a href="https://www.linkedin.com/in/bastien-lahaye-15a233156/"
            >LinkedIn</a
        >
        ou par mail (bastien.lahaye&#64;hotmail.fr) si vous souhaitez échanger
        avec moi.
    </p>

    <p>Bonne journée !</p>
    <p>Bastien</p>
</div>
